/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */


#logoCE {
  width: 25%;
  float: left;
  
}

#NotActual{
  width: 70%;
  border: solid;
  border-style: dotted;
  float: right;
  margin-bottom: .5em;
  background-color: #F3F781;
}

#imgnoticiaPrin{
  width: 30%;
  text-align: center;
}

#descripcion{
  text-align: center;
  font-family: verdana;
}

#redes{
  text-align: center;
  font-family: verdana;
  width: 25%;
  float: left;
}

#menu{
  width: 25%;
  float: left;
  text-indent: 10%;
}

.opM{
  border-style: dotted;
  background-color: #F3F781;
  margin-bottom: .5em;
}

#fb, #tt, #insta{
  text-align: center;
  width: 50px;
}

#notALt{
  float: right;
  text-align: center;
  font-family: verdana;
  width: 70%;
}

#contenedorAlt{
  width: 100%;
}

#nota1, #nota2, #nota3{
  width: 30%;
  float: left;
  border: solid;
  margin-left: .5em;
  text-align: center;

}

table{
  text-align: center;
}

a{
  font-family: fantasy;
  color: black;
}

h1{
  font-family: Verdana;
  text-align: center;
}

body{
  background-image: url("../img/fondo2.jpg");

}